.cardContainer {
  position: relative;
  height: var(--card-height);

  &:hover {
    .zoneButtonsContainer {
      display: flex;
    }

    .faceUpCard:not(.alwaysVisible).showOnHover {
      display: block;
    }

    .faceDownCard.showOnHover {
      display: none;
    }
  }

  .faceUpCard {
    border-radius: 3px;

    &:not(.alwaysVisible) {
      display: none;
    }
  }

  .defenceModeCard {
    transform-origin: calc(var(--card-width) / 2) calc(var(--card-height) / 2);
    transform: rotate(270deg);
  }

  .zoneButtonsContainer {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;

    > button {
      min-width: 80%;
    }
  }
}

.faceDownCard {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 3px;

  &.alwaysVisible {
    display: none;
  }
}
