.cardCount {
  /* centre content without making parent a flexbox, which can mess up layout */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 36px;
  z-index: 1;
}
