.duelContainer {
  .overlay {
    position: absolute;
    color: white;
    z-index: 1;
  }

  .configContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .config {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
