.cardContainer {
  position: relative;
  height: var(--card-height);

  .alwaysVisible {
    .statsContainer,
    .faceUpCard {
      display: block;
    }
  }

  &:hover {
    .zoneButtonsContainer {
      display: flex;
    }

    .showOnHover {
      .statsContainer,
      .faceUpCard {
        display: block;
      }

      &.faceDownCard {
        display: none;
      }
    }
  }

  .defenceModeCard {
    transform: rotate(270deg);

    // prevent the image from blurring due to rotation
    transform-origin: 50% 51%;
  }

  .zoneButtonsContainer {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;

    > button {
      min-width: 80%;
    }
  }
}

.faceUpCard,
.faceDownCard {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 3px;
  display: none;
}

.faceDownCard {
  &:not(.alwaysVisible) {
    display: block;
  }
}
