.statsContainer {
  position: absolute;
  top: 125px;
  width: 100%;
  display: none;

  .atk,
  .def {
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: black !important;
    position: absolute;
    width: 41px;
    height: 16px;
    align-items: center;
  }

  .atk {
    left: 9px;
  }

  .def {
    right: 9px;
  }
}
