.statsContainer {
  position: absolute;
  top: 103px;
  left: 14px;
  height: 33px;
  width: 80px;
  overflow: hidden;

  .atk,
  .def {
    margin: 0;
    font-size: 18px;
    line-height: 16px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    text-shadow: rgb(117, 9, 9) 0px 0px 8px;
    transform: scale(1.6, 1);
    transform-origin: right center;
  }
}
