.cardContainer {
  position: relative;
  height: var(--card-height);

  .alwaysVisible,
  &:hover .showOnHover {
    &.indicatorContainer,
    .indicatorContainer,
    .statsContainer,
    .faceUpCard {
      display: block;
    }

    &.faceDownCard {
      display: none;
    }
  }

  .faceUpCard,
  .faceDownCard {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 3px;
    display: none;
  }

  .faceDownCard {
    &:not(.alwaysVisible) {
      display: block;
    }
  }
}

.defenceMode {
  transform: rotate(270deg);

  // prevent the image from blurring due to rotation
  transform-origin: 50% 51%;
}
