@font-face {
  font-family: customFont;
  src: url(./assets/fonts/YGODIY-Chinese.ttf);
}

* {
  box-sizing: border-box;
  font-family: customFont;
}

html {
  background: #181a1b;
}

body {
  margin: 0;
}

.root {
  // define global scss vars here
  --card-height: 147px;
  --card-width: 108px;
}
