.zoneBackground {
  position: absolute;
  background-repeat: no-repeat;
  background-size: var(--card-width) var(--card-height);
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 3px;
}

.graveyardBackground {
  filter: grayscale(1);
}

.deckBackground {
  filter: grayscale(1);
}

.monsterBackground {
  filter: hue-rotate(345deg);
}

.spellTrapBackground {
  filter: hue-rotate(180deg);
}

.fieldBackground {
  filter: hue-rotate(90deg);
}
